<div class="home-intro">
  <div class="jumbo">{{site.heading}}</div>
  <div class="home-sub-text">
    <h3>
      Quang Nguyen's Notes là nơi mà mình sẽ note lại những kiến thức, cũng như
      kinh nghiệm trong quá trình học và làm việc trong lĩnh vực lập trình. Các
      bài viết sẽ cực kì ngắn gọn và xúc tích, và sẽ bao gồm rất nhiếu
      <strong>source of the truth</strong>, nơi mình <strong>refer</strong> và
      lấy được những kiến thức thực sự bổ ích bổ ích!
    </h3>
    <p>
      Check out the <a href="{{'/notes' | relative_url}}"> Notes </a>,
      <a href="{{'/post/about-me' | relative_url}}"> About me </a> and
      <a href="{{'/note/my-projects' | relative_url}}"> My projects</a>.
    </p>
  </div>
</div>